---
layout: default
---

<div class="post">
    <header class="post-header">
        {% assign name = site.full_name | split: ' ' %}
        <h3 class="post-title"><span class="font-weight-bold">{{ name | first }}</span> {{ name | last }}</h3>
        <p class="post-description">{{ page.description }}</p>
    </header>

    <article>
        <div class="profile">

            {%- assign profile_path = page.profile.image | prepend: '/assets/images/' -%}
            {%- assign profile_class = 'img-fluid z-depth-1 rounded col-md-auto' -%}
            
            <div class="float-right col-md-4 mx-auto"> {% include image.html path=profile_path %} </div>
            <div class="clearfix">
                {{ content }}
            </div>
        </div>

        <hr>
        {% include news.html %}

        <hr>
        <div class="social">
           {% include socials.html %}
            <div class="contact-note">{{ site.contact_note }}</div>
        </div>
        <div class="footer text-center">
            <a href="/about_site"> About this site </a>
        </div>
    </article>
</div>
